body {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    background-color: lightcyan;
}

ul {
    background-color: lightcoral;
}

.callout {
    color: #00A000;
    background-color: #ffff00;
}